@use "../../App.scss" as g;

.benefit-inner {
    max-width: 1440px;
    margin: 0 auto;
    .benefit-card-list {
        @include g.myFlex();
        margin-top: 36px;

        .benefit-banner-item {
            // border-radius: 16px;
            overflow: hidden;
            position: relative;

            .text-box {
                padding: 24px;
                white-space: pre-line;
                position: absolute;
                top: 50%;
                left: 0%;
                transform: translate(0%, -50%);
                color: white;

                .text1 {
                    // font-weight: 700;
                    font-size: 1.25em;
                }

                .text2 {
                    margin-top: 4px;
                    font-weight: lighter;
                    font-size: 0.88em;
                }
            }
        }
    }
}