@use "../../App.scss" as g;

.my-page-inner {
    padding-top: 70px;

    .my-page-wrap {
        @include g.myFlex($jc: normal, $ai: normal, $gap: 3.75em);
        margin-bottom: 100px;

        .my-page-content {
            flex: 1;
        }
    }

}